.projects {
    background: #f4f4f4;
    padding-top: 60px;
    padding-bottom: 60px;

     h1 {
        font: 27px/35px 'opensans-bold', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 62px;
    }
    h1 span {
        border-bottom: 3px solid #11ABB0;
        padding-bottom: 6px;
    }
}